
<h1 class="artist-title"><%= @artist.name %></h1>
<h4 class="artist-genre"><%= @artist.genre %></h1>

<%= link_to 'Back', artists_path %>

<img src="http://www.pngall.com/wp-content/uploads/2016/06/Drake-PNG.png" alt="Drake" style="">


<div class = "artist-bio"
<p>"Aubrey 'Drake' Graham is a Grammy-Award winning, platinum-selling recording artist and multi-faceted entertainer.

Born in Toronto on October 24th, 1986, Drake is the son of Sandi and Dennis Graham, a drummer who worked with Jerry Lee Lewis. His father is African American, a native of Memphis, Tennessee and his mother is Jewish Canadian. Drake’s interest in performing began at an early age. From summers spent with his dad in Memphis, he gained an appreciation and understanding for music that would later influence the sound he would create in years to come." </p>

--- <a href = "https://drakeofficial.com/biography.html">Drake Official Biography Page</a>
</div>


