@import 'semantic-ui';
@import url('https://fonts.googleapis.com/css?family=Rock+Salt|Taviraj');



//---------HOMEPAGE------------//
body {
  background-color: black;
  border: 2px solid #00FFFF;
  border-radius: 7px;
}

.description {
  color: white;
}



.chart-header {
  font-family: 'Taviraj', serif;
  font-size: 50px;
}


.table {
  background-image: linear-gradient(to bottom right, silver, black);

}







.artist-title {
  color: cyan;
  font-size: 5em;
  font-family: 'Rock Salt', cursive;
  padding: 10px;
}

.artist-genre {
  color: grey;
  font-size: 1.5em;
}

.artist-bio {
  color: grey;
  font-size: 1.5em;
}