@import 'semantic-ui';
@import url('https://fonts.googleapis.com/css?family=Mr+Dafoe|Rock+Salt|Taviraj');

//---------HOMEPAGE------------//

body {
  background-color: black;
}

.description {
  color: white;
}


.subheader {
  font-family: 'Mr Dafoe', cursive;
  font-size: 75px;
  font-weight: 80;
  color: #FF69B4;

}



.chart-header {
  font-family: 'Taviraj', serif;
  font-size: 60px;
}



.table {
  background: #BBD2C5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #292E49, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}







.artist-title {
  color: cyan;
  font-size: 5em;
  font-family: 'Rock Salt', cursive;
  padding: 10px;
}

.artist-genre {
  color: grey;
  font-size: 1.5em;
}

.artist-bio {
  color: grey;
  font-size: 1.5em;
}

#artist-title {
  color: cyan;
  font-size: 3em;
  font-family: 'Rock Salt', cursive;
  padding: 10px;
}

#artist-genre {
  color: grey;
  font-size: 1.5em;
}
