<div class="ui inverted two item menu">
  <%= link_to "Billboards", charts_path, class: 'red item' %>
  <%= link_to "Artists", artists_path, class: 'teal item' %>
  <%# link_to "Songs", songs_path %>
</div>
